          <%- include('partials/header'); -%>
<h1>Home</h1>
<h5>Welcome to the BARCS shelter database! You may choose to view the animals<br>
  currently in the shelter, the people looking to adopt, or adoptions which have<br>
  occured in the past. <br><br>
  You may also add new animals, people, or adoptions. Please select an option from<br>
  the dropdown menus above.
</h5>



          <%- include('partials/footer'); -%>
