<%- include('partials/header'); -%>
<h3>Past Adoptions:</h3>

<div class="container form-entry-container">
  <div class="row">
    <div class="col">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Person's ssn</th>
      <th scope="col">Animal id</th>
      <th scope="col">Animal Name</th>
      <th scope="col">Person's First Name</th>
      <th scope="col">Person's Last Name</th>
      <th scope="col">Adoption Date</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i=0; i<query.length; i++) {%>
      <tr>
        <td><%= i+1 %></td>
      <% for(var j=0; j<query[0].length; j++) {%>
          <td><%= query[i][j]%></td>
      <% } %>
      </tr>
    <% } %>
  </tbody>
</table>

</div>
<div class="col">

</div>

</div>
<%- include('partials/footer'); -%>
